In [69]:
import os
import json
import pandas as pd

folder_path = '/home/jupyter-23521027/refresh-bert/data/liputan6_data/canonical/train' 

file_list = os.listdir(folder_path)

In [70]:
json_data_list = []

file_list = os.listdir(folder_path)

for file_name in file_list:
    file_path = os.path.join(folder_path, file_name)  
    
    if os.path.isfile(file_path):
        with open(file_path, 'r') as file:
            json_data = json.load(file)
            
            json_data_list.append(json_data)

df = pd.DataFrame(json_data_list)

In [71]:
df

,id,url,clean_article,clean_summary,extractive_summary
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Liputan6, ., com, ,, Lamongan, :, Tim, Inves...","[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]"
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Liputan6, ., com, ,, Depok, :, Abdul, Madjid...","[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]"
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Liputan6, ., com, ,, Bekasi, :, Aparat, Kepo...","[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]"
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Liputan6, ., com, ,, Denpasar, :, Imbauan, M...","[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]"
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Liputan6, ., com, ,, Jakarta, :, Gempa, kuat...","[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]"
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Liputan6, ., com, ,, Jakarta, :, Warga, yang...","[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]"
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Liputan6, ., com, ,, Bogor, :, Ribuan, umat,...","[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]"
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Chelsea, melayangkan, keberatannya, kepada, ...","[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]"
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Liputan6, ., com, ,, Denpasar, :, Kebakaran,...","[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]"
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Liputan6, ., com, ,, Langkat, :, Tim, Search...","[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]"

In [72]:
df['sentences'] = df['clean_article'].apply(lambda x: [' '.join(sentence) for sentence in x])

In [73]:
df

,id,url,clean_article,clean_summary,extractive_summary,sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Liputan6, ., com, ,, Lamongan, :, Tim, Inves...","[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B..."
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Liputan6, ., com, ,, Depok, :, Abdul, Madjid...","[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k..."
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Liputan6, ., com, ,, Bekasi, :, Aparat, Kepo...","[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R..."
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Liputan6, ., com, ,, Denpasar, :, Imbauan, M...","[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L..."
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Liputan6, ., com, ,, Jakarta, :, Gempa, kuat...","[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me..."
...,...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Liputan6, ., com, ,, Jakarta, :, Warga, yang...","[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Liputan6, ., com, ,, Bogor, :, Ribuan, umat,...","[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Chelsea, melayangkan, keberatannya, kepada, ...","[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Liputan6, ., com, ,, Denpasar, :, Kebakaran,...","[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Liputan6, ., com, ,, Langkat, :, Tim, Search...","[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res..."

In [74]:
df.drop('clean_article', axis=1, inplace=True)

In [75]:
df

,id,url,clean_summary,extractive_summary,sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B..."
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k..."
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R..."
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L..."
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me..."
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res..."

In [76]:
df['summary_sentences'] = df['clean_summary'].apply(lambda x: [' '.join(sentence) for sentence in x])

In [77]:
df

,id,url,clean_summary,extractive_summary,sentences,summary_sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",[Senjata api dan ratusan butir peluru milik te...
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k...",[Genta buatan Abdul Madjid bisa melahirkan alu...
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R...",[Berhati-hatilah Anda bila bepergian ke luar r...
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L...",[Peringatan untuk tidak pergi ke Indonesia tak...
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me...",[Rapat pleno KPU terhenti ketika gempa kuat me...
...,...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m...",[Dirjen Pajak membuat aturan setiap orang berp...
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me...",[Ribuan umat Islam menyerbu vila milik jamaah ...
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...,"[Ketua Leeds United , Ken Bates berhasil lolos..."
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se...","[Kebakaran toko sepatu di Denpasar , Bali , ya..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res...",[Tim SAR kembali menemukan satu jenazah peremp...

In [78]:
df['summary_string'] = df['summary_sentences'].apply(lambda x: ' '.join(x))

In [79]:
df.drop('clean_summary', axis=1, inplace=True)
df.drop('summary_sentences', axis=1, inplace=True)

In [80]:
df

,id,url,extractive_summary,sentences,summary_string
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",Senjata api dan ratusan butir peluru milik ter...
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k...",Genta buatan Abdul Madjid bisa melahirkan alun...
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R...",Berhati-hatilah Anda bila bepergian ke luar ru...
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L...",Peringatan untuk tidak pergi ke Indonesia tak ...
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me...",Rapat pleno KPU terhenti ketika gempa kuat men...
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m...",Dirjen Pajak membuat aturan setiap orang berpe...
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me...",Ribuan umat Islam menyerbu vila milik jamaah A...
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...,"Ketua Leeds United , Ken Bates berhasil lolos ..."
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se...","Kebakaran toko sepatu di Denpasar , Bali , yan..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res...",Tim SAR kembali menemukan satu jenazah perempu...

In [81]:
# https://github.com/google-research/google-research/blob/master/rouge/rouge_scorer.py
from rouge_score import rouge_scorer

scorer = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=True)
scores = scorer.score(
    'IDX Incubator \xa0  mengadakan sesi diskusi dengan tema “ Technology vs Humanity ” ',
    'IDX Incubator adakan sesi diskusi dengan tema Technology vs Humanity'
)
print(scores)

{'rouge1': Score(precision=0.9, recall=0.9, fmeasure=0.9), 'rouge2': Score(precision=0.7777777777777778, recall=0.7777777777777778, fmeasure=0.7777777777777778), 'rougeL': Score(precision=0.9, recall=0.9, fmeasure=0.9)}

In [84]:
from datetime import datetime

DATASET_SIZE = 5000
all_document_sentences_f1_rouge_scores = []

now = datetime.now()
df = df.head(DATASET_SIZE)

for i, row in df.iterrows():
    document_sentences_f1_rouge_scores = []
    for sentence in row["sentences"]:
        scores = scorer.score(sentence, row["summary_string"])
        rouge1_f1 = scores["rouge1"].fmeasure
        rouge2_f1 = scores["rouge2"].fmeasure
        rougeL_f1 = scores["rougeL"].fmeasure
        rouge_score = (rouge1_f1 + rouge2_f1 + rougeL_f1) / 3.0
        document_sentences_f1_rouge_scores.append(rouge_score)
        
    if (i + 1) % 1000 == 0:
        print(f"processing {i + 1} with time: {datetime.now() - now}")
        now = datetime.now()
        
    all_document_sentences_f1_rouge_scores.append(document_sentences_f1_rouge_scores)

df["document_sentences_f1_rouge_scores"] = all_document_sentences_f1_rouge_scores
df.tail(5)

processing 1000 with time: 0:00:10.894322
processing 2000 with time: 0:00:11.027054
processing 3000 with time: 0:00:10.665143
processing 4000 with time: 0:00:10.408754
processing 5000 with time: 0:00:10.648285

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,url,extractive_summary,sentences,summary_string,document_sentences_f1_rouge_scores
4995,161517,https://www.liputan6.com/news/read/161517/pemb...,"[0, 4, 3]","[Liputan6 . com , Tangerang : Seorang pembantu...",Mulyati ditemukan tewas mengenaskan di sebuah ...,"[0.3164696611505122, 0.08421052631578947, 0.12..."
4996,252163,https://www.liputan6.com/news/read/252163/sigi...,"[0, 5]","[Liputan6 . com , Tangerang : Sigid Haryo Wibi...","Sigid Haryo Wibisono , terdakwa kasus pembunuh...","[0.7612293144208038, 0.0, 0.0761904761904762, ..."
4997,266451,https://www.liputan6.com/news/read/266451/dpr-...,"[2, 7]","[Liputan6 . com , Jakarta : Presiden Susilo Ba...","Presiden SBY menyatakan , DPR menyetujui adany...","[0.04938271604938272, 0.11370082624244666, 0.2..."
4998,138172,https://www.liputan6.com/news/read/138172/truk...,"[0, 1]","[Liputan6 . com , Sidoarjo : Truk pengangkut p...",Truk pengangkut pasir dan batu untuk penguatan...,"[0.5864197530864197, 0.10526315789473684, 0.07..."
4999,268940,https://www.liputan6.com/news/read/268940/gus-...,"[4, 8]","[Liputan6 . com , Surabaya : Muktamar ke-32 Na...",Wakil Ketua DPP PKB Effendi Choirie berharap p...,"[0.5113960113960114, 0.3146953405017921, 0.257..."

In [85]:
all_top_10_sentences = [] 
for i, row in df.iterrows():
    document_sentences_and_scores = [] 
    for sentences_and_scores in zip(
        row["sentences"], 
        row["document_sentences_f1_rouge_scores"], 
        [x+1 for x in range(len(row["sentences"]))]
    ):
        document_sentences_and_scores.append(sentences_and_scores)

    top_10_sentences = sorted(document_sentences_and_scores, key=lambda x: x[1], reverse=True)[:10]
    all_top_10_sentences.append([(x[0],x[2]) for x in top_10_sentences])

df["top_10_sentences"] = all_top_10_sentences
df.head(1)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,url,extractive_summary,sentences,summary_string,document_sentences_f1_rouge_scores,top_10_sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",Senjata api dan ratusan butir peluru milik ter...,"[0.2001063264221159, 0.42203548085901027, 0.12...",[(Senjata dan peluru itu ditemukan di dalam pi...

In [87]:
import itertools

df_candidate_summary = pd.DataFrame()

all_candidate_summary_txt = []
all_candidate_summary_ids_txt = []
all_document_length = [] 
for i, row in df.iterrows():
    document_candidate_summaries = []
    document_candidate_summaries_idx = []

    for itemcount in [1,2,3]:
        candidate_summaries = list(itertools.combinations(list(row["top_10_sentences"]), itemcount))
        for candidate_summary in candidate_summaries:
            candidate_summary_txt = " ".join([val[0] for val in candidate_summary])
            candidate_summary_ids = " ".join([str(val[1]) for val in candidate_summary])

            document_candidate_summaries.append(candidate_summary_txt)
            document_candidate_summaries_idx.append(candidate_summary_ids)

    all_candidate_summary_txt.append(document_candidate_summaries)
    all_candidate_summary_ids_txt.append(document_candidate_summaries_idx)
    all_document_length.append(len(row["sentences"]))

df_candidate_summary["candidate_summaries"] = all_candidate_summary_txt
df_candidate_summary["candidate_summary_ids"] = all_candidate_summary_ids_txt
df_candidate_summary["document_length"] = all_document_length
df_candidate_summary["summary"] = df["summary_string"]
df_candidate_summary.head(1)

,candidate_summaries,candidate_summary_ids,document_length,summary
0,[Senjata dan peluru itu ditemukan di dalam pip...,"[2, 9, 1, 5, 6, 4, 3, 7, 8, 2 9, 2 1, 2 5, 2 6...",9,Senjata api dan ratusan butir peluru milik ter...

In [88]:
# input: list of kalimat dalam dokumen dan summary
# output: list of scores 

documents = list(
    zip(
        df_candidate_summary["candidate_summaries"], 
        df_candidate_summary["summary"]
    )
)

def cal_rouge(document):
    candidate_summaries = document[0]
    summary = document[1]
    candidate_summary_scores = []
    for candidate_summary in candidate_summaries:
        scores = scorer.score(candidate_summary, summary)
        rouge1_f1 = scores["rouge1"].fmeasure
        rouge2_f1 = scores["rouge2"].fmeasure
        rougeL_f1 = scores["rougeL"].fmeasure
        rouge_score = (rouge1_f1 + rouge2_f1 + rougeL_f1) / 3.0
        candidate_summary_scores.append(rouge_score)
        
    return candidate_summary_scores

In [89]:
import multiprocess
from multiprocess import Pool
import tqdm

cores = 4
print(f"multiprocessing with {cores} cores")


with Pool(processes=cores) as pool:
    results = list(tqdm.tqdm(pool.imap_unordered(cal_rouge, documents), total=len(documents)))

df_candidate_summary["candidate_summary_scores"] = results
df_candidate_summary.tail(5)

multiprocessing with 4 cores

100%|██████████| 5000/5000 [04:50<00:00, 17.19it/s]

,candidate_summaries,candidate_summary_ids,document_length,summary,candidate_summary_scores
4995,[Diduga pelaku sempat memperkosa sebelum membu...,"[5, 1, 4, 3, 7, 12, 6, 2, 17, 10, 5 1, 5 4, 5 ...",18,Mulyati ditemukan tewas mengenaskan di sebuah ...,"[0.3486291486291486, 0.3164696611505122, 0.192..."
4996,"[Liputan6 . com , Tangerang : Sigid Haryo Wibi...","[1, 4, 3, 9, 6, 8, 5, 7, 10, 2, 1 4, 1 3, 1 9,...",10,"Sigid Haryo Wibisono , terdakwa kasus pembunuh...","[0.7612293144208038, 0.1081081081081081, 0.076..."
4997,[Lembaga ini menyetujui Perppu perbaikan perat...,"[8, 3, 4, 2, 9, 6, 7, 10, 5, 1, 8 3, 8 4, 8 2,...",12,"Presiden SBY menyatakan , DPR menyetujui adany...","[0.5864197530864197, 0.19852941176470587, 0.10..."
4998,"[Liputan6 . com , Sidoarjo : Truk pengangkut p...","[1, 5, 2, 7, 3, 8, 4, 6, 1 5, 1 2, 1 7, 1 3, 1...",8,Truk pengangkut pasir dan batu untuk penguatan...,"[0.42597402597402595, 0.29183135704874835, 0.1..."
4999,"[Liputan6 . com , Surabaya : Muktamar ke-32 Na...","[1, 2, 12, 3, 13, 9, 11, 5, 6, 4, 1 2, 1 12, 1...",14,Wakil Ketua DPP PKB Effendi Choirie berharap p...,"[0.5113960113960114, 0.3146953405017921, 0.312..."

In [90]:
all_top_10_candidates = [] 
for i, row in df_candidate_summary.iterrows():
    document_candidates_and_scores = [] 
    for candidates_and_scores in zip(
        row["candidate_summary_ids"], 
        row["candidate_summary_scores"], 
    ):
        document_candidates_and_scores.append(candidates_and_scores)

    top_10_candidates = sorted(document_candidates_and_scores, key=lambda x: x[1], reverse=True)[:10]
    all_top_10_candidates.append(top_10_candidates)

df_candidate_summary["top_10_candidates"] = all_top_10_candidates
df_candidate_summary.head(2)

,candidate_summaries,candidate_summary_ids,document_length,summary,candidate_summary_scores,top_10_candidates
0,[Senjata dan peluru itu ditemukan di dalam pip...,"[2, 9, 1, 5, 6, 4, 3, 7, 8, 2 9, 2 1, 2 5, 2 6...",9,Senjata api dan ratusan butir peluru milik ter...,"[0.2867383512544803, 0.17205520892418227, 0.16...","[(2 4, 0.31227850740045865), (2 6 4, 0.3107692..."
1,"[Warga Sawangan , Depok , Jawa Barat itu mampu...","[2, 8, 6, 4, 10, 11, 1, 7, 3, 9, 2 8, 2 6, 2 4...",11,Genta buatan Abdul Madjid bisa melahirkan alun...,"[0.33771929824561403, 0.19163059163059162, 0.1...","[(2, 0.33771929824561403), (2 1, 0.33695652173..."

In [93]:
df_candidate_summary["id"] = df["id"]

with open(f"/home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6.train.label.multipleoracle", "w") as file:
    for i, row in df_candidate_summary.iterrows():
        file.write(f"liputan6-{row['id']}\n")
        file.write(f"{row['document_length']}\n")
        for candidate_summary_tuple in row["top_10_candidates"]:
            file.write(f"{candidate_summary_tuple[0]} {str(candidate_summary_tuple[1])[:14]}\n")
        file.write("\n")

In [94]:
!cat /home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6.train.label.multipleoracle | head -c 10000

liputan6-48951
9
2 4 0.312278507400
2 6 4 0.310769230769
2 6 3 0.302214502822
2 1 7 0.298724954462
2 3 7 0.297948717948
9 5 4 0.297598789941
2 5 0.296018344798
2 1 8 0.291187739463
2 0.286738351254
2 1 0.284615384615

liputan6-124973
11
2 0.337719298245
2 1 0.336956521739
2 6 0.330532212885
2 6 1 0.319555952026
2 4 0.317918362313
2 4 1 0.308974715198
2 11 0.305317324185
2 3 0.303321328531
2 11 1 0.298378003296
2 8 1 0.297304806890

liputan6-298677
10
1 6 0.454190186712
1 6 7 0.396825396825
1 6 2 0.383004926108
1 6 5 0.383004926108
1 0.371929824561
1 6 9 0.370114942528
1 6 3 0.370114942528
1 6 8 0.368817204301
1 6 4 0.367607526881
1 6 10 0.346275252525

liputan6-40569
10
9 0.422035480859
9 10 0.403065134099
9 2 0.364425770308
9 6 0.361579161579
9 4 0.351635007372
9 5 6 0.344708994708
9 1 0.335470085470
9 1 2 0.331482198975
9 1 7 0.331086634884
9 2 7 0.326326326326

liputan6-242869
10
1 0.680555555555
5 0.649444444444
8 0.604890604890
10 9 0.589594053744
10 5 0.513834677769
3 0.495779500430
10 3 0.458888888888
10 4 0.455331019936
10 0.433818433818
10 8 0.430806697108

liputan6-191980
6
5 0.463875205254
2 1 0.433691756272
3 1 0.426749934946
4 6 0.401071565250
4 2 0.401038961038
2 3 0.397087841055
2 6 0.387698169694
4 1 0.377001736446
5 6 0.374834054834
4 3 0.361223571749

liputan6-206507
20
1 0.624881291547
1 2 0.605610070373
1 5 0.602831993876
1 15 0.583908045977
1 5 2 0.579365079365
1 5 15 0.561965399704
1 15 2 0.559381359381
1 14 0.557795698924
1 18 0.554367201426
1 5 14 0.550072150072

liputan6-92617
15
9 15 0.261472891267
9 11 0.258038258038
9 11 15 0.247036510194
9 3 15 0.234967622571
9 15 14 0.232328767123
9 11 14 0.231702870240
3 11 0.228658536585
9 3 11 0.227619047619
9 3 0.225891219197
9 0.224033816425

liputan6-117267
83
15 0.288030105659
15 34 0.270609318996
15 45 0.264147448365
15 47 0.258038258038
15 23 0.258038258038
15 24 0.254103535353
15 34 45 0.253753753753
15 34 23 0.249212775528
15 34 24 0.246040878952
15 45 47 0.243809523809

liputan6-97819
15
8 4 0.757777777777
8 4 5 0.687389770723
8 4 1 0.663642473118
8 4 3 0.663296659728
8 4 2 0.651888341543
8 0.626315789473
8 4 9 0.620071684587
8 4 12 0.592171717171
4 1 5 0.566932482721
8 4 14 0.563337160352

liputan6-277906
24
6 0.173526140155
6 23 0.163652024117
6 10 0.158985033204
6 11 0.153381642512
16 23 0.153381642512
16 10 0.151254480286
6 22 0.150877192982
6 23 22 0.148622981956
6 10 22 0.147653000594
6 10 9 0.142045454545

liputan6-207811
18
1 0.808300395256
1 18 0.769444444444
1 9 0.713846153846
1 9 18 0.686067019400
1 6 0.674442538593
1 7 0.650807810486
1 18 6 0.650807810486
1 11 0.650505050505
1 7 18 0.630236794171
1 18 11 0.629248865425

liputan6-130085
10
4 2 0.434947768281
4 0.414499605988
4 9 0.398651997224
4 9 2 0.386363636363
4 2 3 0.371184371184
4 2 1 0.371121121121
4 6 2 0.360548807917
4 1 0.360045924225
4 6 0.358440498060
4 9 1 0.356403090580

liputan6-64189
12
1 0.273504273504
1 6 0.254515599343
10 0.236482471776
1 11 0.234192037470
1 5 0.234192037470
3 0.229339507363
8 0.223375874251
6 2 0.223280423280
4 2 0.220130118637
4 3 0.220130118637

liputan6-77439
14
10 6 9 0.521756978653
10 6 0.516313932980
10 6 3 0.461079219288
10 6 5 0.461079219288
10 6 11 0.438359788359
6 11 9 0.428359062321
10 6 12 0.426176176176
10 6 4 0.420456621004
10 6 8 0.419312169312
6 11 0.406461955851

liputan6-188885
7
1 2 0.330832638695
5 2 4 0.301824212271
3 2 6 0.295525114155
5 2 6 0.293257127304
5 4 6 0.285163032992
1 0.284600389863
7 3 0.271794871794
3 2 4 0.265227021040
7 2 0.263504611330
1 6 0.255703009801

liputan6-57765
14
1 8 0.396776882467
1 8 10 0.379407311269
1 8 2 0.368918826971
1 8 9 0.359256991222
1 8 11 0.349867319861
1 8 3 0.344594594594
1 8 5 0.335704125177
1 0.329371231696
1 10 0.316931804168
1 8 7 0.310256410256

liputan6-146450
15
1 12 0.271282051282
1 0.248538011695
1 4 0.238477549806
1 12 3 0.233585858585
1 12 7 0.230990089839
1 12 13 0.230990089839
1 7 0.228841607565
1 12 11 0.226678550207
1 4 12 0.220207087272
1 12 2 0.213714038503

liputan6-29225
10
8 0.911725955204
8 2 0.789739795289
8 4 0.733652312599
7 0.673835125448
8 9 0.652553763440
10 7 0.652553763440
8 3 0.623038652889
9 5 0.604802076573
8 1 0.587602912158
8 1 4 0.587602912158

liputan6-225146
9
2 5 0.712590891695
2 0.688275310124
2 3 9 0.644644644644
2 6 0.604269293924
2 5 8 0.588529457727
2 3 1 0.581300813008
2 3 8 0.574247607714
2 3 6 0.574247607714
2 3 7 0.567363530778
2 3 0.538542938542

liputan6-289075
8
1 8 3 0.866165026689
1 8 5 0.798039215686
1 6 4 0.790107433845
1 8 0.775252525252
1 6 3 0.710052910052
1 6 5 0.710052910052
1 4 2 0.710052910052
1 4 3 0.673504273504
1 4 5 0.662970430107
7 8 4 0.651847735482

liputan6-97866
25
2 0.353968253968
2 3 0.342582315945
2 19 0.316926770708
2 3 19 0.313978494623
2 20 0.310769230769
2 12 0.305774728416
2 16 0.304846466888
2 3 16 0.304099462365
2 3 8 0.292473118279
2 8 0.290782979858

liputan6-230178
12
1 3 0.440886699507
1 3 5 0.416139348166
1 0.406461955851
1 3 2 0.401058201058
1 10 0.399193548387
1 3 9 0.395127748068
1 7 0.388809862494
1 8 0.388776881720
1 5 0.386679292929
1 10 5 0.383492063492

liputan6-124378
23
3 4 0.672549019607
3 4 9 0.587820512820
3 4 7 0.587820512820
3 4 2 0.573373983739
3 0.562801932367
3 4 13 0.554263565891
3 4 14 0.552988424285
3 4 17 0.538255751738
3 4 5 0.534002818886
3 4 8 0.499691643539

liputan6-239028
13
1 0.600865800865
1 9 0.552631578947
7 0.534694649272
4 0.524691358024
10 7 0.499341238471
1 10 0.499206349206
1 8 0.499206349206
9 7 0.496757044125
1 2 0.478260869565
4 7 0.465460809646

liputan6-61983
12
6 0.499025341130
6 11 0.454190186712
6 12 0.396425236761
6 11 12 0.379569892473
6 9 0.360016420361
6 5 0.354279638490
6 1 0.349477682811
6 8 0.339148073022
6 10 0.336200716845
6 9 11 0.331098132525

liputan6-176987
8
1 7 0.818781298031
7 4 0.777258297258
3 0.709959959959
2 7 0.693813131313
1 4 0.672525395700
5 0.663926743096
1 3 0.639102564102
2 4 0.603683897801
1 8 0.570877151522
2 0.561685823754

liputan6-33239
9
5 0.592025518341
1 0.524561403508
2 7 0.507318480063
8 0.490350877192
1 9 0.478974358974
6 3 0.467460317460
6 4 0.454704704704
6 9 0.454704704704
1 8 0.441025641025
2 5 0.434105978409

liputan6-281705
7
4 0.546031746031
4 2 0.501139855287
3 5 0.448712818460
3 5 6 0.434343434343
3 2 0.389964157706
3 2 5 0.388335704125
4 7 0.387352562196
3 2 7 0.373499917803
4 6 0.371835571835
3 1 7 0.359756097560

liputan6-226542
5
3 0.330060292850
1 4 0.307002801120
2 4 0.297675280170
3 1 4 0.283253588516
2 5 0.280459770114
3 1 2 0.268965517241
3 2 4 0.256049960967
4 5 0.249579831932
1 5 0.234319996033
3 1 5 0.217595427638

liputan6-260522
9
2 1 0.844390011566
2 0.804678362573
2 1 8 0.758068935284
2 1 9 0.739177996561
2 1 5 0.730081300813
2 1 4 0.712543554006
2 8 0.704599104599
2 1 7 0.704086935979
2 1 3 0.695828719084
2 9 0.693302717183

liputan6-153682
13
1 0.480275624461
13 0.416237850200
6 0.397147355746
1 2 0.381226053639
9 0.380272550292
1 3 0.358064516129
1 12 0.352328909705
3 13 0.350139484248
12 9 0.345378151260
3 7 0.331868651074

liputan6-210354
24
9 0.410673337502
13 0.315236253656
11 0.314516129032
1 0.311728395061
18 0.290088021431
9 11 0.278059990324
9 1 0.273526077097
10 0.266191325014
9 18 0.258023950384
10 2 0.254479697517

liputan6-145432
7
2 6 7 0.805239898989
4 3 0.750578864499
6 3 5 0.672608437314
2 3 7 0.653221288515
4 5 0.649285305889
2 3 5 0.626149591613
6 3 7 0.626149591613
3 5 7 0.585695006747
4 0.580555555555
2 5 7 0.578223464299

liputan6-267247
16
10 6 3 0.244253859348
10 3 9 0.244253859348
10 6 9 0.237199837199
10 3 0.235964912280
10 9 0.228333333333
6 3 9 0.227178114778
10 6 0.214999999999
6 3 0.213564213564
10 9 4 0.213068181818
6 9 0.210826210826

liputan6-183839
5
1 5 0.301683335391
4 5 0.269281045751
1 2 0.256921373200
3 4 2 0.250593607305
4 2 0.250072025352
5 2 0.250072025352
3 1 5 0.248224202505
3 0.239215686274
3 5 2 0.238501659554
1 4 2 0.234615384615

liputan6-189730
10
6 10 0.323371647509
6 10 1 0.309376195943
6 10 8 0.303091397849
6 10 4 0.299425947187
6 10 5 0.286554621848
6 10 9 0.285418569254
6 10 2 0.280030030030
6 10 3 0.278571428571
6 10 7 0.269090909090
6 1 8 0.264644222468

liputan6-285848
17
5 12 0.295424836601
2 0.292172739541
5 2 0.292167745914
15 0.286178861788
3 0.277914614121
14 0.272022022022
6 12 0.269461347757
5 8 0.266723356009
5 14 0.257727291435
3 5 0.250287026406

liputan6-130581
6
1 5 0.388104838709
3 4 0.340740740740
2 0.305339745961
5 3 0.288142943880
2 4 0.287792207792
1 3 0.285470085470
1 4 0.280750095675
1 0.274453941120
5 6 0.268945868945
1 6 0.266640941539

liputan6-212230
20
1 0.466308243727
3 0.460784313725
7 0.454242362386
2 4 0.450545235355
1 2 0.399149149149
20 11 0.396152511279
2 7 0.392886178861
2 17 0.375931184919
16 0.371857801576
2 8 0.353302611367

liputan6-44930
6
2 1 0.295
2 5 0.283589743589
2 4 0.276520079798
4 5 0.271394799054
6 0.269298245614
1 3 0.256090314913
5 3 0.255917667238
4 3 0.251811594202
6 3 0.250966399048
6 2 4 0.246889952153

liputan6-119086
14
2 1 0.842145593869
2 1 4 0.761734997029
2 1 12 0.720728291316
2 1 13 0.700529100529
2 1 7 0.689663347558
2 0.689535388623
2 1 6 0.681156773211
2 1 8 0.672119487908
2 1 5 0.654830401665
2 4 0.650505050505

liputan6-119221
21
5 3 20 0.375946969696
5 3 0.369214352407
5 3 17 0.359788359788
5 20 17 0.353802172670
5 20 0.336111111111
5 3 19 0.319162730388
5 1 17 0.318763009217
5 20 19 0.313026819923
5 3 15 0.310294680443
5 20 15 0.304608585858

liputan6-293661
16
7 10 5 0.268199233716
7 11 5 0.268199233716
7 5 0.265700483091
7 5 6 0.265630780614
7 10 3 0.261472891267
7 11 3 0.261472891267
10 5 6 0.258585858585
10 5 0.257948717948
7 3 6 0.257948717948
7 3 0.257210401891

liputan6-122193
14
14 0.577015437392
2 13 0.534651747766
9 2 0.512667432070
11 0.490350877192
2 7 0.489898989898
11 6 0.479487179487
2 14 0.468382724060
9 13 0.462568542568
9 7 0.461624649859
9 14 0.457936507936

liputan6-244728
18
2 13 0.236894757903
2 13 5 0.223498139287
2 13 11 0.212260536398
2 17 0.211802232854
13 4 5 0.209541062801
2 5 0.206153846153
2 0.204216073781
2 17 5 0.202099054558
2 13 6cat: write error: Broken pipe