In [13]:
from datetime import datetime

def create_word2vec_word2idx(vector_file):
    word2vec = {}
    word2idx = {
        "_PAD": 0,
        "_UNK": 1,
    }
    idx = 2

    with open(vector_file, 'r', encoding='utf-8') as file:
        now = datetime.now()
        
        for line in file:
            try:
                line = line.strip().split()
                word = line[0]
                vector = [float(val) for val in line[1:]]

                # Store word-to-vector mapping
                word2vec[word] = vector

                # Create word-to-index mapping
                if word not in word2idx:
                    word2idx[word] = idx
                    idx += 1
            except Exception as e:
                print(word, e)

            if ( idx + 1 ) % 100000 == 0:
                print(f"processed {idx+1} lines in : {datetime.now() - now}")
                now = datetime.now()
            
    return word2vec, word2idx

In [14]:
vector_file = '/home/jupyter-23521027/refresh-bert/data/indo4b/fasttext.4B.id.300.epoch5.uncased.vec'
word2vec, word2idx = create_word2vec_word2idx(vector_file)

processed 100000 lines in : 0:00:07.237583
processed 200000 lines in : 0:00:07.214331
20 could not convert string to float: 'km'
30 could not convert string to float: 'km'
40 could not convert string to float: 'km'
10 could not convert string to float: 'km'
processed 300000 lines in : 0:00:12.150431
50 could not convert string to float: 'km'
25 could not convert string to float: 'km'
15 could not convert string to float: 'km'
60 could not convert string to float: 'km'
5 could not convert string to float: 'km'
35 could not convert string to float: 'km'
2 could not convert string to float: 'km'
3 could not convert string to float: 'km'
processed 400000 lines in : 0:00:07.535671
80 could not convert string to float: 'km'
45 could not convert string to float: 'km'
100 could not convert string to float: 'km'
1 could not convert string to float: 'km'
22 could not convert string to float: '°c.'
7 could not convert string to float: 'km'
12 could not convert string to float: 'km'
6 could not convert string to float: 'km'
8 could not convert string to float: 'km'
4 could not convert string to float: 'km'
processed 500000 lines in : 0:00:07.627845
23 could not convert string to float: '°c.'
70 could not convert string to float: 'km'
90 could not convert string to float: 'km'
processed 600000 lines in : 0:00:07.447825
24 could not convert string to float: '°c.'
14 could not convert string to float: 'km'
9 could not convert string to float: 'km'
16 could not convert string to float: 'km'
20 could not convert string to float: '°c.'
24 could not convert string to float: '°c,'
processed 700000 lines in : 0:00:14.031402
13 could not convert string to float: 'km'
200 could not convert string to float: 'km'
26 could not convert string to float: '°c,'
0 could not convert string to float: '°c'
18 could not convert string to float: 'km'
120 could not convert string to float: 'km'
30 could not convert string to float: 'cm'
32 could not convert string to float: '°c'
50 could not convert string to float: 'cm'
17 could not convert string to float: 'km'
110 could not convert string to float: 'km'
11 could not convert string to float: 'km'
10 could not convert string to float: 'cm'
25 could not convert string to float: '°c.'
processed 800000 lines in : 0:00:07.214167
21 could not convert string to float: '°c.'
500 could not convert string to float: 'km'
25 could not convert string to float: '°c'
30 could not convert string to float: '°c'
20 could not convert string to float: '°c'
15 could not convert string to float: 'cm'
150 could not convert string to float: 'km'
60 could not convert string to float: 'cm'
processed 900000 lines in : 0:00:07.317427
18 could not convert string to float: '°c'
20 could not convert string to float: 'cm'
20 could not convert string to float: 'mm'
300 could not convert string to float: 'km'
10 could not convert string to float: 'km.'
160 could not convert string to float: 'km'
400 could not convert string to float: 'km'
5 could not convert string to float: 'cm'
75 could not convert string to float: 'mm'
10 could not convert string to float: 'cm.'
130 could not convert string to float: 'km'
1 could not convert string to float: 'cm'
terbaik could not convert string to float: '–'
30 could not convert string to float: 'cm.'
processed 1000000 lines in : 0:00:07.303247
24 could not convert string to float: 'km'
26 could not convert string to float: '°c.'
2 could not convert string to float: 'km.'
2.000 could not convert string to float: 'mm'
32 could not convert string to float: 'km'
20 could not convert string to float: 'cm.'
25 could not convert string to float: '°c,'
3 could not convert string to float: 'km.'
1 could not convert string to float: 'kg'
35 could not convert string to float: 'mm'
processed 1100000 lines in : 0:00:07.285108
180 could not convert string to float: 'km'
50 could not convert string to float: 'cm.'
1,5 could not convert string to float: 'km'
40 could not convert string to float: 'cm'
22 could not convert string to float: 'km'
100 could not convert string to float: '°c'
65 could not convert string to float: 'km'
5 could not convert string to float: 'km.'
28 could not convert string to float: '°c,'
27 could not convert string to float: '°c.'
25 could not convert string to float: 'mm'
processed 1200000 lines in : 0:00:16.312096
19 could not convert string to float: 'km'
30 could not convert string to float: 'mm'
27 could not convert string to float: 'km'
75 could not convert string to float: 'km'
2 could not convert string to float: 'cm'
160 could not convert string to float: 'cm'
600 could not convert string to float: 'km'
55 could not convert string to float: 'km'
5 could not convert string to float: 'km,'
15 could not convert string to float: '°c'
100 could not convert string to float: 'km.'
26 could not convert string to float: 'km'
1.000 could not convert string to float: 'km'
60 could not convert string to float: 'cm.'
10 could not convert string to float: '°c'
processed 1300000 lines in : 0:00:07.569156
23 could not convert string to float: 'km'
28 could not convert string to float: 'km'
3 could not convert string to float: 'km,'
1 could not convert string to float: 'km.'
26 could not convert string to float: '°c'
21 could not convert string to float: 'km'
25 could not convert string to float: 'cm'
30 could not convert string to float: '°c,'
250 could not convert string to float: 'km'
2,5 could not convert string to float: 'km'
48 could not convert string to float: 'km'
2.500 could not convert string to float: 'mm'
processed 1400000 lines in : 0:00:07.520871
800 could not convert string to float: 'km'
175 could not convert string to float: 'cm'
2 could not convert string to float: 'mm'
100 could not convert string to float: 'kg'
40 could not convert string to float: 'cm.'
40 could not convert string to float: 'km.'
2 could not convert string to float: 'mm,'
6 could not convert string to float: 'cm'
27 could not convert string to float: '°c'
processed 1500000 lines in : 0:00:07.445388
38 could not convert string to float: 'km'
37 could not convert string to float: 'mm'
105 could not convert string to float: 'mm'
18 could not convert string to float: '°c.'
90 could not convert string to float: 'mm'
37 could not convert string to float: '°c'
4 could not convert string to float: 'km.'
240 could not convert string to float: 'km'
1 could not convert string to float: 'mm'
50 could not convert string to float: 'kg'
20 could not convert string to float: 'cm,'
30 could not convert string to float: '°c.'
5 could not convert string to float: 'cm.'
4 could not convert string to float: 'km,'
antara could not convert string to float: 'manchester'
25 could not convert string to float: 'cm.'
0 could not convert string to float: '°c.'
28 could not convert string to float: '°c'
12 could not convert string to float: 'cm'
"b. could not convert string to float: 'dentata"'
40 could not convert string to float: '°c'
180 could not convert string to float: 'cm'
processed 1600000 lines in : 0:00:07.481788
22 could not convert string to float: '°c'
8 could not convert string to float: 'km.'
24 could not convert string to float: '°c'
70 could not convert string to float: 'cm'
37 could not convert string to float: 'km'
10 could not convert string to float: 'cm,'
85 could not convert string to float: 'km'
30 could not convert string to float: 'km.'
1 could not convert string to float: 'cm.'
15 could not convert string to float: 'km.'
46 could not convert string to float: 'km'
50 could not convert string to float: 'km.'
1000 could not convert string to float: 'km'
pedro could not convert string to float: 'ii'
* could not convert string to float: 'pemenang'
sm could not convert string to float: '–'
20 could not convert string to float: 'km.'
3 could not convert string to float: 'cm'
processed 1700000 lines in : 0:00:07.530709
3.000 could not convert string to float: 'mm'
8 could not convert string to float: 'cm'
350 could not convert string to float: 'km'
35 could not convert string to float: '°c'
800 could not convert string to float: 'mhz'
1 could not convert string to float: 'mm.'
7,62 could not convert string to float: 'mm'
6 could not convert string to float: 'km.'
5 could not convert string to float: 'mm'
57 could not convert string to float: 'mm'
33 could not convert string to float: 'km'
90 could not convert string to float: 'cm'
"a. could not convert string to float: 'luteobubalina"'
"b." could not convert string to float: 'ser.'
60 could not convert string to float: 'cm,'
2 could not convert string to float: 'cm.'
80 could not convert string to float: 'cm'
180 could not convert string to float: 'cm.'
170 could not convert string to float: 'cm'
3 could not convert string to float: 'cm.'
processed 1800000 lines in : 0:00:20.175022
5 could not convert string to float: 'kg'
23 could not convert string to float: 'mm'
35 could not convert string to float: '°c.'
32 could not convert string to float: '°c.'
9 could not convert string to float: 'km².'
600 could not convert string to float: 'mm'
3 could not convert string to float: 'mm,'
100 could not convert string to float: 'cm'
140 could not convert string to float: 'km'
168 could not convert string to float: 'cm'
33 could not convert string to float: '°c'
15 could not convert string to float: 'cm.'
4 could not convert string to float: 'cm'
10 could not convert string to float: 'kg'
15 could not convert string to float: 'cm,'
22 could not convert string to float: '°c,'
7.5 could not convert string to float: 'cm'
21 could not convert string to float: '°c'
52 could not convert string to float: 'km'
12 could not convert string to float: 'cm.'
28 could not convert string to float: '°c.'
40 could not convert string to float: 'mm'
processed 1900000 lines in : 0:00:07.508666
2000 could not convert string to float: 'mm'
2 could not convert string to float: '°c'
7,5 could not convert string to float: 'cm'
60 could not convert string to float: '°c'
456 could not convert string to float: 'mm,'
170 could not convert string to float: 'km'
183 could not convert string to float: 'cm'
175 could not convert string to float: 'cm.'
12 could not convert string to float: 'km,'
29 could not convert string to float: 'km'
antara could not convert string to float: 'arsenal'
"n. could not convert string to float: 'kayan"'
processed 2000000 lines in : 0:00:07.534462
8 could not convert string to float: 'mm'
16 could not convert string to float: 'km.'
50 could not convert string to float: 'hz'
12,7 could not convert string to float: 'mm'
105 could not convert string to float: 'km'
23 could not convert string to float: '°c,'
7 could not convert string to float: 'mm'
5 could not convert string to float: 'cm,'
150 could not convert string to float: 'cm'
pedro could not convert string to float: 'i'
29 could not convert string to float: '°c'
3674 could not convert string to float: 'mm.'
87 could not convert string to float: 'mm.'
23 could not convert string to float: '°c'
18 could not convert string to float: 'cm'
7 could not convert string to float: 'km.'
47 could not convert string to float: 'km'
95 could not convert string to float: 'km'
185 could not convert string to float: 'cm.'
processed 2100000 lines in : 0:00:07.389861
processed 2200000 lines in : 0:00:07.395730
"b. could not convert string to float: 'verticillata"'
4 could not convert string to float: '°c'
27 could not convert string to float: '°c,'
1.067 could not convert string to float: 'mm.'
20 could not convert string to float: 'mm.'
88 could not convert string to float: 'mm'
7 could not convert string to float: 'cm'
38 could not convert string to float: '°c'
320 could not convert string to float: 'km'
1 could not convert string to float: 'ghz'
2 could not convert string to float: 'km,'
(3 could not convert string to float: 'km)'
173 could not convert string to float: 'cm'
1 could not convert string to float: 'mm,'
belanda could not convert string to float: '–'
4 could not convert string to float: 'cm,'
"p. could not convert string to float: 'falciparum"'
30 could not convert string to float: 'cm,'
7.62 could not convert string to float: 'mm'
1 could not convert string to float: 'cm,'
10 could not convert string to float: 'km,'
125 could not convert string to float: 'km'
5.5 could not convert string to float: 'km².'
6.7 could not convert string to float: 'km².'
11.1 could not convert string to float: 'km².'
processed 2300000 lines in : 0:00:07.424240
25 could not convert string to float: 'km.'
2,5 could not convert string to float: 'cm,'
2 could not convert string to float: 'cm,'
165 could not convert string to float: 'km'
30 could not convert string to float: 'km,'
43 could not convert string to float: 'km'
220 could not convert string to float: 'km'
184 could not convert string to float: 'cm.'
178 could not convert string to float: 'cm'
31 could not convert string to float: 'km'
(5 could not convert string to float: 'km)'
183 could not convert string to float: 'cm.'
45 could not convert string to float: 'cm'
64 could not convert string to float: 'km'
-20 could not convert string to float: '°c'
173 could not convert string to float: 'cm.'
12 could not convert string to float: 'km.'
47 could not convert string to float: 'mm'
40 could not convert string to float: '°c.'
190 could not convert string to float: 'km'
20 could not convert string to float: 'km².'
1 could not convert string to float: '°c'
120 could not convert string to float: 'cm.'
1 could not convert string to float: 'juta'
$1 could not convert string to float: 'juta'
5 could not convert string to float: 'km².'
8 could not convert string to float: 'km².'
35 could not convert string to float: 'km.'
江藤 could not convert string to float: '愛(tbsアナウンサー)'
processed 2400000 lines in : 0:00:07.376089
650 could not convert string to float: 'km'
44 could not convert string to float: 'km'
6 could not convert string to float: 'mm.'
34 could not convert string to float: 'km'
150 could not convert string to float: '°c'
230 could not convert string to float: 'km'
8 could not convert string to float: 'cm.'
1.6 could not convert string to float: 'l'
56 could not convert string to float: 'km'
a・ra・shi could not convert string to float: 'a・ra・shi'
450 could not convert string to float: 'km'
20 could not convert string to float: 'kg'
176 could not convert string to float: 'cm'
45 could not convert string to float: 'cm.'
35 could not convert string to float: 'cm'
36 could not convert string to float: 'km'
55 could not convert string to float: 'kg'
15 could not convert string to float: 'km,'
0 could not convert string to float: '°c,'
10 could not convert string to float: 'km².'
2 could not convert string to float: 'kg'
155 could not convert string to float: 'mm'
5 could not convert string to float: 'kg.'
15 could not convert string to float: 'km².'
11.7 could not convert string to float: 'km².'
dunia could not convert string to float: 'ii,'
21 could not convert string to float: 'mm'
france could not convert string to float: '2,'
(64 could not convert string to float: 'km)'
19 could not convert string to float: 'mm'
juice could not convert string to float: '(hkt48)'
eureka could not convert string to float: '(nmb48)'
kampung could not convert string to float: 'karang'
1.900 could not convert string to float: 'mhz'
"n. could not convert string to float: 'menagensis"'
dunia could not convert string to float: 'ii'
processed 2500000 lines in : 0:00:07.370301
1.435 could not convert string to float: 'mm'
5 could not convert string to float: '°c'
500 could not convert string to float: '°c.'
3,7 could not convert string to float: 'cm'
75 could not convert string to float: 'cm'
1 could not convert string to float: 'km,'
200 could not convert string to float: 'km.'
120 could not convert string to float: 'km.'
150 could not convert string to float: 'km.'
200 could not convert string to float: 'km,'
32 could not convert string to float: '°c,'
60 could not convert string to float: 'mm'
28 could not convert string to float: 'mm.'
8 could not convert string to float: 'mm.'
3 could not convert string to float: '°c'
3 could not convert string to float: 'mm'
( could not convert string to float: '–'
processed 2600000 lines in : 0:00:24.799691
processed 2700000 lines in : 0:00:07.390572
180 could not convert string to float: '°c'
70 could not convert string to float: 'mm'
"n. could not convert string to float: 'graciliflora",'
"n. could not convert string to float: 'alata",'
"n. could not convert string to float: 'mindanaoensis",'
ecstasy could not convert string to float: '(next'
inazuma could not convert string to float: '(ske48)'
"75 could not convert string to float: 'mm'
antara could not convert string to float: 'west'
antara could not convert string to float: 'tottenham'
174 could not convert string to float: 'cm'
5 could not convert string to float: 'mm,'
0 could not convert string to float: 'km'
32 could not convert string to float: 'km,'
3 could not convert string to float: 'cm,'
60 could not convert string to float: 'km.'
480 could not convert string to float: 'km'
82 could not convert string to float: 'km'
12 could not convert string to float: 'km².'
53 could not convert string to float: 'km'
(59 could not convert string to float: '°f).'
73 could not convert string to float: 'km'
20 could not convert string to float: '°c,'
7 could not convert string to float: 'cm,'
188 could not convert string to float: 'cm'
7 could not convert string to float: 'km,'
50°-60 could not convert string to float: '°c'
21 could not convert string to float: 'km².'
6 could not convert string to float: 'mm'
"p. could not convert string to float: 'vivax"'
1,5 could not convert string to float: 'm'
10 could not convert string to float: 'mm'
12.6 could not convert string to float: 'km².'
i. could not convert string to float: 'm.'
4.8 could not convert string to float: 'km².'
4.0 could not convert string to float: 'km².'
9.8 could not convert string to float: 'km².'
12.2 could not convert string to float: 'km².'
10.4 could not convert string to float: 'km².'
300 could not convert string to float: '°c'
70 could not convert string to float: 'cm,'
1.067 could not convert string to float: 'mm'
5 could not convert string to float: 'mm.'
2000 could not convert string to float: 'km'
28 could not convert string to float: 'mm'
2 could not convert string to float: 'mm.'
200 could not convert string to float: '°c,'
6 could not convert string to float: 'juta'
120 could not convert string to float: 'mm'
van could not convert string to float: "'t"
60 could not convert string to float: 'kg'
50 could not convert string to float: 'mm'
150 could not convert string to float: 'cm.'
4 could not convert string to float: 'juta'
300 could not convert string to float: 'km.'
9 could not convert string to float: 'cm'
100 could not convert string to float: 'km/jam'
182 could not convert string to float: 'cm.'
20 could not convert string to float: 'km,'
1000 could not convert string to float: 'km.'
34 could not convert string to float: '°c'
260 could not convert string to float: 'km'
400 could not convert string to float: '°c'
100 could not convert string to float: 'cm,'
$100 could not convert string to float: 'juta'
9:00 could not convert string to float: 'p.m.'
6:00 could not convert string to float: 'p.m.'
45 could not convert string to float: 'kg'
42 could not convert string to float: 'km'
45 could not convert string to float: 'mm'
1500 could not convert string to float: 'mm'
3 could not convert string to float: 'kg'
processed 2800000 lines in : 0:00:07.779622
10 could not convert string to float: 'm'
6 could not convert string to float: 'cm.'
processed 2900000 lines in : 0:00:07.348105
230 could not convert string to float: 'hp)'
1.200 could not convert string to float: 'km'
3 could not convert string to float: 'mm.'
2,4 could not convert string to float: 'ghz'
175 could not convert string to float: 'km'
50 could not convert string to float: 'km,'

In [23]:
import os
import json
import pandas as pd

folder_path = '/home/jupyter-23521027/refresh-bert/data/liputan6_data/canonical/train' 

file_list = os.listdir(folder_path)
json_data_list = []
file_list = os.listdir(folder_path)

for file_name in file_list:
    file_path = os.path.join(folder_path, file_name) 

    if os.path.isfile(file_path):
        with open(file_path, 'r') as file:
            json_data = json.load(file)
            json_data_list.append(json_data)

df = pd.DataFrame(json_data_list)
df['sentences'] = df['clean_article'].apply(lambda x: [' '.join(sentence) for sentence in x])
df

,id,url,clean_article,clean_summary,extractive_summary,sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Liputan6, ., com, ,, Lamongan, :, Tim, Inves...","[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B..."
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Liputan6, ., com, ,, Depok, :, Abdul, Madjid...","[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k..."
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Liputan6, ., com, ,, Bekasi, :, Aparat, Kepo...","[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R..."
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Liputan6, ., com, ,, Denpasar, :, Imbauan, M...","[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L..."
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Liputan6, ., com, ,, Jakarta, :, Gempa, kuat...","[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me..."
...,...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Liputan6, ., com, ,, Jakarta, :, Warga, yang...","[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Liputan6, ., com, ,, Bogor, :, Ribuan, umat,...","[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Chelsea, melayangkan, keberatannya, kepada, ...","[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Liputan6, ., com, ,, Denpasar, :, Kebakaran,...","[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Liputan6, ., com, ,, Langkat, :, Tim, Search...","[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res..."

In [24]:
from datetime import datetime

MAX_DOC_LENGTH = 100
DATASET_SIZE = 999999
docs = []

now = datetime.now()
file = open("/home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6.train.doc" , 'w')

for i, row in df.iterrows():
    file.write(f'liputan6-{str(row["id"])}' + "\n")

    sentences = list(row["sentences"][:MAX_DOC_LENGTH])
    for sentence in sentences:
        for word in sentence:
            try:
                index = str(word2idx[word])
            except Exception as KeyError:
                index = str(word2idx["_UNK"])
            file.write(index + " ")
            
        file.write("\n")

    if (i + 1) % 10000 == 0:
        print(f"processing {i + 1} with time: {datetime.now() - now}")
        now = datetime.now()

    file.write("\n")
    
file.close()

processing 10000 with time: 0:00:08.089907
processing 20000 with time: 0:00:08.033513
processing 30000 with time: 0:00:08.009633
processing 40000 with time: 0:00:08.023161
processing 50000 with time: 0:00:08.003744
processing 60000 with time: 0:00:07.985763
processing 70000 with time: 0:00:08.002104
processing 80000 with time: 0:00:07.951278
processing 90000 with time: 0:00:08.121879
processing 100000 with time: 0:00:08.041578
processing 110000 with time: 0:00:07.938214
processing 120000 with time: 0:00:07.884338
processing 130000 with time: 0:00:08.110205
processing 140000 with time: 0:00:07.950020
processing 150000 with time: 0:00:08.004892
processing 160000 with time: 0:00:08.070434
processing 170000 with time: 0:00:08.079337
processing 180000 with time: 0:00:08.058899
processing 190000 with time: 0:00:08.000445