In [1]:
import os
import json
import pandas as pd

folder_path = '/home/jupyter-23521027/refresh-bert/data/liputan6_data/canonical/train' 

file_list = os.listdir(folder_path)

In [2]:
json_data_list = []

file_list = os.listdir(folder_path)

for file_name in file_list:
    file_path = os.path.join(folder_path, file_name)  
    
    if os.path.isfile(file_path):
        with open(file_path, 'r') as file:
            json_data = json.load(file)
            
            json_data_list.append(json_data)

df = pd.DataFrame(json_data_list)

In [3]:
df

,id,url,clean_article,clean_summary,extractive_summary
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Liputan6, ., com, ,, Lamongan, :, Tim, Inves...","[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]"
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Liputan6, ., com, ,, Depok, :, Abdul, Madjid...","[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]"
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Liputan6, ., com, ,, Bekasi, :, Aparat, Kepo...","[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]"
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Liputan6, ., com, ,, Denpasar, :, Imbauan, M...","[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]"
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Liputan6, ., com, ,, Jakarta, :, Gempa, kuat...","[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]"
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Liputan6, ., com, ,, Jakarta, :, Warga, yang...","[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]"
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Liputan6, ., com, ,, Bogor, :, Ribuan, umat,...","[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]"
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Chelsea, melayangkan, keberatannya, kepada, ...","[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]"
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Liputan6, ., com, ,, Denpasar, :, Kebakaran,...","[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]"
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Liputan6, ., com, ,, Langkat, :, Tim, Search...","[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]"

In [4]:
df['sentences'] = df['clean_article'].apply(lambda x: [' '.join(sentence) for sentence in x])

In [5]:
df

,id,url,clean_article,clean_summary,extractive_summary,sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Liputan6, ., com, ,, Lamongan, :, Tim, Inves...","[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B..."
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Liputan6, ., com, ,, Depok, :, Abdul, Madjid...","[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k..."
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Liputan6, ., com, ,, Bekasi, :, Aparat, Kepo...","[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R..."
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Liputan6, ., com, ,, Denpasar, :, Imbauan, M...","[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L..."
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Liputan6, ., com, ,, Jakarta, :, Gempa, kuat...","[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me..."
...,...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Liputan6, ., com, ,, Jakarta, :, Warga, yang...","[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Liputan6, ., com, ,, Bogor, :, Ribuan, umat,...","[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Chelsea, melayangkan, keberatannya, kepada, ...","[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Liputan6, ., com, ,, Denpasar, :, Kebakaran,...","[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Liputan6, ., com, ,, Langkat, :, Tim, Search...","[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res..."

In [6]:
df.drop('clean_article', axis=1, inplace=True)

In [7]:
df

,id,url,clean_summary,extractive_summary,sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B..."
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k..."
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R..."
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L..."
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me..."
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res..."

In [8]:
df['summary_sentences'] = df['clean_summary'].apply(lambda x: [' '.join(sentence) for sentence in x])

In [9]:
df

,id,url,clean_summary,extractive_summary,sentences,summary_sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[[Senjata, api, dan, ratusan, butir, peluru, m...","[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",[Senjata api dan ratusan butir peluru milik te...
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[[Genta, buatan, Abdul, Madjid, bisa, melahirk...","[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k...",[Genta buatan Abdul Madjid bisa melahirkan alu...
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[[Berhati-hatilah, Anda, bila, bepergian, ke, ...","[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R...",[Berhati-hatilah Anda bila bepergian ke luar r...
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[[Peringatan, untuk, tidak, pergi, ke, Indones...","[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L...",[Peringatan untuk tidak pergi ke Indonesia tak...
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[[Rapat, pleno, KPU, terhenti, ketika, gempa, ...","[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me...",[Rapat pleno KPU terhenti ketika gempa kuat me...
...,...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[[Dirjen, Pajak, membuat, aturan, setiap, oran...","[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m...",[Dirjen Pajak membuat aturan setiap orang berp...
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[[Ribuan, umat, Islam, menyerbu, vila, milik, ...","[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me...",[Ribuan umat Islam menyerbu vila milik jamaah ...
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[[Ketua, Leeds, United, ,, Ken, Bates, berhasi...","[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...,"[Ketua Leeds United , Ken Bates berhasil lolos..."
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[[Kebakaran, toko, sepatu, di, Denpasar, ,, Ba...","[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se...","[Kebakaran toko sepatu di Denpasar , Bali , ya..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[[Tim, SAR, kembali, menemukan, satu, jenazah,...","[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res...",[Tim SAR kembali menemukan satu jenazah peremp...

In [10]:
df['summary_string'] = df['summary_sentences'].apply(lambda x: ' '.join(x))

In [11]:
df.drop('clean_summary', axis=1, inplace=True)
df.drop('summary_sentences', axis=1, inplace=True)

In [12]:
df

,id,url,extractive_summary,sentences,summary_string
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",Senjata api dan ratusan butir peluru milik ter...
1,124973,https://www.liputan6.com/news/read/124973/gent...,"[0, 1]","[Liputan6 . com , Depok : Abdul Madjid punya k...",Genta buatan Abdul Madjid bisa melahirkan alun...
2,298677,https://www.liputan6.com/news/read/298677/wasp...,"[0, 5]","[Liputan6 . com , Bekasi : Aparat Kepolisian R...",Berhati-hatilah Anda bila bepergian ke luar ru...
3,40569,https://www.liputan6.com/news/read/40569/imbau...,"[5, 8]","[Liputan6 . com , Denpasar : Imbauan Menteri L...",Peringatan untuk tidak pergi ke Indonesia tak ...
4,242869,https://www.liputan6.com/news/read/242869/rapa...,"[0, 4]","[Liputan6 . com , Jakarta : Gempa kuat yang me...",Rapat pleno KPU terhenti ketika gempa kuat men...
...,...,...,...,...,...
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m...",Dirjen Pajak membuat aturan setiap orang berpe...
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me...",Ribuan umat Islam menyerbu vila milik jamaah A...
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...,"Ketua Leeds United , Ken Bates berhasil lolos ..."
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se...","Kebakaran toko sepatu di Denpasar , Bali , yan..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res...",Tim SAR kembali menemukan satu jenazah perempu...

In [13]:
# https://github.com/google-research/google-research/blob/master/rouge/rouge_scorer.py
from rouge_score import rouge_scorer

scorer = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=True)
scores = scorer.score(
    'IDX Incubator \xa0  mengadakan sesi diskusi dengan tema “ Technology vs Humanity ” ',
    'IDX Incubator adakan sesi diskusi dengan tema Technology vs Humanity'
)
print(scores)

{'rouge1': Score(precision=0.9, recall=0.9, fmeasure=0.9), 'rouge2': Score(precision=0.7777777777777778, recall=0.7777777777777778, fmeasure=0.7777777777777778), 'rougeL': Score(precision=0.9, recall=0.9, fmeasure=0.9)}

In [14]:
len(df)

193883

In [15]:
from datetime import datetime

DATASET_SIZE = len(df)
all_document_sentences_f1_rouge_scores = []

now = datetime.now()
df = df.head(DATASET_SIZE)

for i, row in df.iterrows():
    document_sentences_f1_rouge_scores = []
    for sentence in row["sentences"]:
        scores = scorer.score(sentence, row["summary_string"])
        rouge1_f1 = scores["rouge1"].fmeasure
        rouge2_f1 = scores["rouge2"].fmeasure
        rougeL_f1 = scores["rougeL"].fmeasure
        rouge_score = (rouge1_f1 + rouge2_f1 + rougeL_f1) / 3.0
        document_sentences_f1_rouge_scores.append(rouge_score)
        
    if (i + 1) % 5000 == 0:
        print(f"processing {i + 1} with time: {datetime.now() - now}")
        now = datetime.now()
        
    all_document_sentences_f1_rouge_scores.append(document_sentences_f1_rouge_scores)

df["document_sentences_f1_rouge_scores"] = all_document_sentences_f1_rouge_scores
df.tail(5)

processing 5000 with time: 0:01:00.365604
processing 10000 with time: 0:01:01.099443
processing 15000 with time: 0:00:59.289231
processing 20000 with time: 0:00:58.012980
processing 25000 with time: 0:01:01.333963
processing 30000 with time: 0:00:56.721859
processing 35000 with time: 0:00:53.845717
processing 40000 with time: 0:00:53.098350
processing 45000 with time: 0:00:53.588809
processing 50000 with time: 0:00:53.402686
processing 55000 with time: 0:00:52.791337
processing 60000 with time: 0:00:53.669383
processing 65000 with time: 0:00:53.598546
processing 70000 with time: 0:00:52.780987
processing 75000 with time: 0:00:53.145846
processing 80000 with time: 0:00:52.878884
processing 85000 with time: 0:00:53.973919
processing 90000 with time: 0:00:53.825141
processing 95000 with time: 0:00:55.461910
processing 100000 with time: 0:00:58.535550
processing 105000 with time: 0:00:57.251299
processing 110000 with time: 0:00:55.330449
processing 115000 with time: 0:00:54.120083
processing 120000 with time: 0:00:52.904421
processing 125000 with time: 0:00:53.906295
processing 130000 with time: 0:00:53.752814
processing 135000 with time: 0:00:52.535564
processing 140000 with time: 0:00:52.809839
processing 145000 with time: 0:00:52.990742
processing 150000 with time: 0:00:53.376744
processing 155000 with time: 0:00:54.109370
processing 160000 with time: 0:00:53.994228
processing 165000 with time: 0:00:53.369725
processing 170000 with time: 0:00:53.842648
processing 175000 with time: 0:00:53.353066
processing 180000 with time: 0:00:52.913031
processing 185000 with time: 0:00:53.173931
processing 190000 with time: 0:00:53.726644

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,url,extractive_summary,sentences,summary_string,document_sentences_f1_rouge_scores
193878,164143,https://www.liputan6.com/news/read/164143/tahu...,"[2, 4]","[Liputan6 . com , Jakarta : Warga yang belum m...",Dirjen Pajak membuat aturan setiap orang berpe...,"[0.26410564225690275, 0.09639249639249638, 0.4..."
193879,150247,https://www.liputan6.com/news/read/150247/mass...,"[0, 1]","[Liputan6 . com , Bogor : Ribuan umat Islam me...",Ribuan umat Islam menyerbu vila milik jamaah A...,"[0.34852801519468185, 0.1949317738791423, 0.03..."
193880,204203,https://www.liputan6.com/news/read/204203/bate...,"[0, 13]",[Chelsea melayangkan keberatannya kepada Asosi...,"Ketua Leeds United , Ken Bates berhasil lolos ...","[0.295767667756963, 0.19992345962495217, 0.106..."
193881,159188,https://www.liputan6.com/news/read/159188/peny...,"[0, 3]","[Liputan6 . com , Denpasar : Kebakaran toko se...","Kebakaran toko sepatu di Denpasar , Bali , yan...","[0.6237513873473918, 0.06349206349206347, 0.06..."
193882,65953,https://www.liputan6.com/news/read/65953/ditem...,"[1, 2, 3]","[Liputan6 . com , Langkat : Tim Search and Res...",Tim SAR kembali menemukan satu jenazah perempu...,"[0.2316752429959977, 0.13848039215686275, 0.24..."

In [16]:
all_top_10_sentences = [] 
for i, row in df.iterrows():
    document_sentences_and_scores = [] 
    for sentences_and_scores in zip(
        row["sentences"], 
        row["document_sentences_f1_rouge_scores"], 
        [x+1 for x in range(len(row["sentences"]))]
    ):
        document_sentences_and_scores.append(sentences_and_scores)

    top_10_sentences = sorted(document_sentences_and_scores, key=lambda x: x[1], reverse=True)[:10]
    all_top_10_sentences.append([(x[0],x[2]) for x in top_10_sentences])

df["top_10_sentences"] = all_top_10_sentences
df.head(1)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,url,extractive_summary,sentences,summary_string,document_sentences_f1_rouge_scores,top_10_sentences
0,48951,https://www.liputan6.com/news/read/48951/polis...,"[1, 2]","[Liputan6 . com , Lamongan : Tim Investigasi B...",Senjata api dan ratusan butir peluru milik ter...,"[0.2001063264221159, 0.42203548085901027, 0.12...",[(Senjata dan peluru itu ditemukan di dalam pi...

In [17]:
import itertools

df_candidate_summary = pd.DataFrame()

all_candidate_summary_txt = []
all_candidate_summary_ids_txt = []
all_document_length = [] 
for i, row in df.iterrows():
    document_candidate_summaries = []
    document_candidate_summaries_idx = []

    for itemcount in [1,2,3]:
        candidate_summaries = list(itertools.combinations(list(row["top_10_sentences"]), itemcount))
        for candidate_summary in candidate_summaries:
            candidate_summary_txt = " ".join([val[0] for val in candidate_summary])
            candidate_summary_ids = " ".join([str(val[1]) for val in candidate_summary])

            document_candidate_summaries.append(candidate_summary_txt)
            document_candidate_summaries_idx.append(candidate_summary_ids)

    all_candidate_summary_txt.append(document_candidate_summaries)
    all_candidate_summary_ids_txt.append(document_candidate_summaries_idx)
    all_document_length.append(len(row["sentences"]))

df_candidate_summary["candidate_summaries"] = all_candidate_summary_txt
df_candidate_summary["candidate_summary_ids"] = all_candidate_summary_ids_txt
df_candidate_summary["document_length"] = all_document_length
df_candidate_summary["summary"] = df["summary_string"]
df_candidate_summary.head(1)

,candidate_summaries,candidate_summary_ids,document_length,summary
0,[Senjata dan peluru itu ditemukan di dalam pip...,"[2, 9, 1, 5, 6, 4, 3, 7, 8, 2 9, 2 1, 2 5, 2 6...",9,Senjata api dan ratusan butir peluru milik ter...

In [18]:
# input: list of kalimat dalam dokumen dan summary
# output: list of scores 

documents = list(
    zip(
        df_candidate_summary["candidate_summaries"], 
        df_candidate_summary["summary"]
    )
)

def cal_rouge(document):
    candidate_summaries = document[0]
    summary = document[1]
    candidate_summary_scores = []
    for candidate_summary in candidate_summaries:
        scores = scorer.score(candidate_summary, summary)
        rouge1_f1 = scores["rouge1"].fmeasure
        rouge2_f1 = scores["rouge2"].fmeasure
        rougeL_f1 = scores["rougeL"].fmeasure
        rouge_score = (rouge1_f1 + rouge2_f1 + rougeL_f1) / 3.0
        candidate_summary_scores.append(rouge_score)
        
    return candidate_summary_scores

In [ ]:
import multiprocess
from multiprocess import Pool
import tqdm

cores = 4
print(f"multiprocessing with {cores} cores")


with Pool(processes=cores) as pool:
    results = list(tqdm.tqdm(pool.imap_unordered(cal_rouge, documents), total=len(documents)))

df_candidate_summary["candidate_summary_scores"] = results
df_candidate_summary.tail(5)

multiprocessing with 4 cores

 29%|██▊       | 55613/193883 [54:03<2:04:10, 18.56it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 33%|███▎      | 64945/193883 [1:03:02<2:18:35, 15.51it/s]

In [ ]:
all_top_10_candidates = [] 
for i, row in df_candidate_summary.iterrows():
    document_candidates_and_scores = [] 
    for candidates_and_scores in zip(
        row["candidate_summary_ids"], 
        row["candidate_summary_scores"], 
    ):
        document_candidates_and_scores.append(candidates_and_scores)

    top_10_candidates = sorted(document_candidates_and_scores, key=lambda x: x[1], reverse=True)[:10]
    all_top_10_candidates.append(top_10_candidates)

df_candidate_summary["top_10_candidates"] = all_top_10_candidates
df_candidate_summary.head(2)

In [ ]:
df_candidate_summary["id"] = df["id"]

with open(f"/home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6_{DATASET_SIZE}.train.label.multipleoracle", "w") as file:
    for i, row in df_candidate_summary.iterrows():
        file.write(f"liputan6-{row['id']}\n")
        file.write(f"{row['document_length']}\n")
        for candidate_summary_tuple in row["top_10_candidates"]:
            file.write(f"{candidate_summary_tuple[0]} {str(candidate_summary_tuple[1])[:14]}\n")
        file.write("\n")

In [24]:
!cat /home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6_193883.train.label.multipleoracle | tail -c 1000

3440860
11 0.527960927960
5 2 0.523405483405
10 0.512055109070
5 6 0.503632478632
5 4 0.491260162601
1 6 0.481231231231
1 4 0.468468468468

liputan6-150247
4
1 4 3 0.633888888888
1 0.627777777777
1 2 4 0.599715099715
1 2 3 0.462712712712
2 4 3 0.462365591397
2 0.256370656370
4 0.211376927166
3 0.204626914304
1 2 0.185657998423
1 4 0.167543859649

liputan6-204203
15
1 2 0.545155993431
1 2 13 0.474153297682
1 0.460317460317
1 2 10 0.450575599717
1 13 0.449192782526
1 2 3 0.441443179625
1 2 8 0.441443179625
1 2 4 0.441443179625
1 2 6 0.435435435435
1 11 0.432212885154

liputan6-159188
6
1 3 4 0.344001896633
1 5 0.340183142259
6 5 2 0.318162393162
1 2 4 0.305958132045
1 2 3 0.296979562307
1 4 0.287918871252
6 2 3 0.287262872628
1 3 0.279629629629
1 2 0.278672438672
1 0.274424663482

liputan6-65953
7
4 0.295767667756
4 5 0.284648530452
3 6 0.283323127168
4 7 0.273352299668
4 2 0.270736971939
1 6 7 0.266480316794
3 5 0.258995433789
1 6 0.256994018907
1 5 7 0.252660861151
3 2 0.252236652236

In [25]:
with open("/home/jupyter-23521027/refresh-bert/data/preprocessed-input-directory/liputan6_193883.train.label.multipleoracle", 'r') as file:
    # Read the contents of the file
    text = file.read()
    # Count the occurrences of the word
    count = text.count("liputan6")

print(count)

193883